.App {
  text-align: center;
}

.App-logo {
  height: 55px;
  display: flex;
  justify-content: flex-start;
  margin-left: 300px;
}

.App-header {
  background-color: #AB2A19; /* Got some background color action to the left */
  height: 95px;
  padding: 20px;
  color: white; /* Some sweet font color to left of ya */
  display: flex;
  align-content: center;
}

.App-header h1 {
  font-size: 33px; /* Got some of that awesome font-size to left */
  font-weight: 900; /* Cant forget about that font-weight action either <--- */
  margin-top: 14px; /* Got some margin there to the left */
  margin-left: 23px; /* Suh more margin */
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* Used the dot to make that class there */
.shelf-choices {
  display: flex; /* Used display flex to the left (Thanks to FlexZombies). */
  flex-direction: column; /* Some flex direction action */
  align-items: center; /*  align items */
  justify-content: center; /* And the oh so sweet justify content */
}


.shelf-choices h1 {
  font-size: 23px; /* Some of that awesome font size */
  font-weight: 700;
  color: #fff;
  background-color: #D34735;
  padding: 17px; /* Gotta love that padding */
  margin: 14px; /* Yet again... more margin */
  width: 500px;
  border-radius: 5px; /* Used border to the left of ya.. kinda */
}