.App {
  text-align: center;
}

.App-logo {
  height: 55px;
  display: flex;
  justify-content: flex-start;
  margin-left: 300px;
}

.App-header {
  background-color: #AB2A19; /* Got some background color action to the left */
  height: 95px;
  padding: 20px;
  color: white; /* Some sweet font color to left of ya */
  display: flex;
  align-content: center;
}

.App-header h1 {
  font-size: 33px; /* Got some of that awesome font-size to left */
  font-weight: 900; /* Cant forget about that font-weight action either <--- */
  margin-top: 14px;
  margin-left: 23px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.shelf-choices {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.shelf-choices h1 {
  font-size: 23px;
  font-weight: 700;
  color: #fff;
  background-color: #D34735;
  padding: 17px;
  margin: 14px;
  width: 500px;
  border-radius: 5px;
}